.navbar {
  background-color: var(--jk-purple);
  color: var(--jk-mfont-color);
  padding: 20px;
}

.navbar h1 {
  font-size: large;
  padding: 10px;
}

.logo {
  height: 40px;
  width: auto;
  border-radius: 5px;
}